/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
.product-description a {
color:#7d3c8c;
}

.cart-grid-body a.label:hover{
    color: #A359D4 !important;
}

#blockcart-modal .cart-content a.btn:hover, #blockcart-modal .cart-content a.btn:focus, .product-add-to-cart .product-quantity .add-to-cart:hover, .product-add-to-cart .product-quantity .add-to-cart:focus, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout:hover, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout:focus, .continue.btn:hover, .continue.btn:focus, button.btn.btn-primary.center-block:hover, button.btn.btn-primary.center-block:focus{
    border: 1px solid #A359D4;
}

.form-control:focus{
    border-color: #A359D4 !important;
}

#search_widget form i{
    position: unset !important;
    padding: 0 !important;
}

input.ui-autocomplete-input::placeholder,
input.ui-autocomplete-input{
    padding-inline: .5rem !important; 
}

#main #search_widget input[type=text]{
    border: 1px solid darkgray;
}

#main #search_widget button[type=submit]:hover i.fa-search{
    color: #fff;
}