/* x13pricehistory css */
.x13pricehistory {
  margin-bottom: 15px !important;
  display: block;
  clear: left;
}

.x13pricehistory__button {
  display: inline-block;
  font-weight: bold;
  padding:10px 0px;
  cursor: pointer;
  margin: 0;
}

.x13pricehistory__button * {
  pointer-events: none;
}

.x13pricehistory__button i{
  margin-right:5px;
}

.x13pricehistory__lowest__toda--smallmargin{
  margin-bottom:5px;
}

.x13pricehistory__lowest__today{
  font-size:0.95em;
}

.x13pricehistory-chart {
  margin-bottom: 15px;
}

.x13pricehistory-product {
  text-align: center;
}

.fancybox-overlay .x13pricehistory__text,
.x13pricehistory-modal .x13pricehistory__text{
  text-align: center;
}

.fancybox-overlay .x13pricehistory__text--before-discount,
.x13pricehistory-modal .x13pricehistory__text--before-discount {
  background: #F2F2F2;
  padding: 5px 0px;
  margin-top: 5px;
}

.x13pricehistory__text.x13pricehistory__text--nomargin {
  margin-bottom: 0;
}

.x13pricehistory__date,
.x13pricehistory__price {
  font-weight: 700;
}

.x13pricehistory-table td{
  padding: 6px 12px;
}

.x13pricehistory-product p:not(:last-child) {
  margin: 0;
}

.x13pricehistory-16 .x13pricehistory__button{
  font-size:15px;
}

.x13pricehistory-popup-title{
  border-bottom:1px solid #d6d4d4;
  font-size:18px;
  font-weight: bold;
  padding:10px 10px 15px 10px;
}

.fancybox-overlay .x13pricehistory__text,
.fancybox-overlay .x13pricehistory__price {
  font-size:16px;
}

.fancybox-overlay .x13pricehistory__text.x13pricehistory__text--nomargin {
  margin-bottom: 10px;
}

.x13pricehistory-attributes p {
  display: inline-block;
}

.x13pricehistory > .x13pricehistory__text--before-discount {
  margin-top: 15px;
  margin-bottom: 0;
}

.x13pricehistory-attributes p:not(:last-child) span::after {
  content: ",\00A0";
}

.x13pricehistory-attributes span {
  display: none;
}

.x13pricehistory-attributes span.x13pricehistory-visible {
  display: inline;
}

.x13pricehistory-attributes-17 p {
  display: inline-block;
}

.x13pricehistory-attributes-17 p:not(:last-child)::after {
  content: ",\00A0";
}

.x13pricehistory__lowest__today-16 {
  display: none !important;
}

.x13pricehistory__lowest__today-16.x13visible {
  display: block !important;
}

.x13pricehistory.x13hidden {
  display: none;
}